$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);


$darkBlue: hsl(233, 26%, 24%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);


$font-small: 0.875rem; //14px
$font-med: 1.125rem; //18px
$font-xlg: 3.25rem;
$font-lg: 1.25rem;